@{
    Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Location>;

<h2>Facility Admin</h2>


@foreach (Location location in Model)
{
    <li>@Html.ActionLink($"{location.Facility}", "Details", new { id = location.LocationId })</li>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add location", "Create")</p> 